html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

.detail_bar {
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #444;
  width: 100%;
  height: 40px;
  color: #ddd;
}
.detail_bar label {
  height: 100%;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  padding-top: 3px;
}
.detail_bar label select {
  width: 8em;
}

.side_bar {
  border: 1px solid #000;
  background-color: #444;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: calc(100% - 40px);
  padding: 0;
  position: relative;
}
.side_bar hr {
  margin: 0px 4px;
}
.side_bar #colorBox {
  border: 1px solid #ddd;
  position: absolute;
  box-sizing: border-box;
  left: 4px;
  bottom: 4px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
.side_bar #colorPicker {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  left: 60px;
  z-index: 1;
  background-color: #444;
  display: none;
}
.side_bar #colorPicker canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.side_bar input[type="file"] {
  display: none;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
  height: calc(100% - 40px);
  background-color: #333;
  position: relative;
}
.container canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
.container #transbg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 480px;
  height: 480px;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
.container input {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}

.tool {
  box-sizing: border-box;
  height: 40px;
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  position: relative;
  color: #ddd;
}
.tool svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tool:hover {
  background-color: #555;
  border: 1px solid #333;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

label.tool, a.tool {
  width: 40px;
  display: inline-block;
}

a.tool {
  cursor: initial;
}

.tool.selected {
  background-color: #222;
  border: none;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.8) inset;
}

.tool.disabled {
  color: #222;
}
.tool.disabled:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 3px #000000 inset;
  background: #333333;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 8px;
  background: #dddddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333333;
}
input[type=range]::-moz-range-track {
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 3px #000000 inset;
  background: #333333;
  border-radius: 0px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 8px;
  background: #dddddd;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #333333;
  box-shadow: 1px 1px 3px #000000 inset;
}
input[type=range]::-ms-fill-upper {
  background: #333333;
  box-shadow: 1px 1px 3px #000000 inset;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  height: 20px;
  width: 8px;
  background: #dddddd;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #333333;
}
input[type=range]:focus::-ms-fill-upper {
  background: #333333;
}

select {
  outline: 0;
  background: #333;
  color: #ddd;
  appearance: none;
}

label input[type=range], label select{
  vertical-align: middle;
}

#text_size_icon, #brush_size_icon, #font_family_icon{
  vertical-align: middle;
  width: 1.25em;
}

#fontface {
  height: 1.75em;
}